@charset "utf-8";

html {
    font-size: 16px;
}
body {
    line-height: 1.7;
    font-family: 'Consolas', 'sans-selif';
}
.item {
    margin: 16px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 300px;
}

.wrapper {
    overflow: hidden;
}
.item-horizontal {
    float: left;
    margin: 8px 0 8px 8px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 300px;
}

