@charset "utf-8";

html {
    font-size:16px;
}
body {
    line-height: 1.6;
    font-family: 'Consolas', 'sans-selif';
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #444;
    padding: 8px;
}